## Config file for i-pi regtest

[input_files]
 * zundel   # Comments might be here too
 * pswater
 # * zundel2
 # * zundel3
 # * zundel4

[config]
# relative path to the location of the ipitest script
test_run_path = './tests-run'
inputfiles_path = './tests'
processes = 5
ipi_command = 'i-pi'
initial_address = 10000
precision = 10   # number of decimal that must be equal
create_original = 'no' # if set to 'yes', instead of doing regtest, will create
                      #+new "trusted" files in the <test_run_path>/input folder.